# Load Zephyr SoC Kconfig descriptions.
osource "C:/ncs/sdk/zephyr/soc/xlnx/zynqmp/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/xlnx/zynq7000/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/xen/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/ti/simplelink/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/ti/lm3s6965/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/ti/k3/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/telink/tlsr/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/starfive/jh71xx/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/st/stm32/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/qemu_arc/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/nsim/arc_v/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/nsim/arc_classic/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/hsdk4xd/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/hsdk/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/emsk/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/emsdp/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/snps/arc_iot/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/silabs/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/sifive/sifive_freedom/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/sensry/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/rockchip/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/renode/riscv_virtual/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/renode/cortex_r8_virtual/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/renesas/smartbond/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/renesas/rzt2m/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/renesas/rcar/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/renesas/ra/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/raspberrypi/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/quicklogic/eos_s3/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/qemu/virt_riscv/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/qemu/malta/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/openisa/rv32m1/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/s32/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/rw/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/mcx/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/lpc/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/layerscape/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/kinetis/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/imxrt/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nxp/imx/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nuvoton/numicro/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nuvoton/numaker/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nuvoton/npcx/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nuvoton/npcm/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/nordic/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/neorv32/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/native/inf_clock/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/microchip/miv/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/microchip/mec/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/mediatek/mtk_adsp/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/lowrisc/opentitan/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/litex/litex_vexriscv/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/ite/ec/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/raptor_lake/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/lakemont/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/intel_socfpga_std/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/intel_socfpga/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/intel_niosv/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/intel_ish/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/intel_adsp/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/elkhart_lake/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/atom/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/apollo_lake/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/intel/alder_lake/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/infineon/cat3/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/infineon/cat1b/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/infineon/cat1a/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/gd/gd32/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/gaisler/leon3/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/gaisler/gr716a/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/espressif/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/ene/kb1200/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/efinix/sapphire/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/cdns/xtensa_sample_controller/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/cdns/dc233c/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/brcm/bcmvk/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/brcm/bcm2712/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/brcm/bcm2711/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/atmel/sam0/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/atmel/sam/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/aspeed/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/arm/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/arm/beetle/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/andestech/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/ambiq/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/altr/zephyr_nios2f/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/altr/qemu_nios2/Kconfig"
osource "C:/ncs/sdk/zephyr/soc/adi/max32/Kconfig"
